@use "../../sass/colors";

.aprende-jugando {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem 1.5rem;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 2.5rem;
      font-weight: 900;
    }

    h2 {
      color: colors.$gris-medio;
      margin-bottom: 1.5rem;
      font-size: 1.8rem;
    }
    .jugando__stores {
      display: flex;
      justify-content: center;
      padding: 0 2rem;
      margin-bottom: 1.5rem;
      a {
        width: 50%;
        &:first-child {
          margin-right: 0.5rem;
        }

        img {
          width: 100%;
          transition: 0.2s ease-in-out;

          &:hover {
            cursor: pointer;
            transform: scale(0.92);
          }
        }
      }
    }

    .play-online {
      align-self: center;
    }

    //Hero para mobile
    .hero-switcher-mobile {
      margin-bottom: 1rem;

      @media (min-width: 768px) {
        display: none;
      }
    }
    .jugando__info {
      font-size: 1.25rem;
    }
  }

  //Hero a partir de tablet
  .wrapper2 {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }
  ///TABLET////////////////
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    padding: 4rem 2rem;
    .wrapper {
      flex: 0.55;
      align-items: flex-start;

      h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        order: 1;
      }
      h2 {
        font-size: 2.5rem;
        order: 2;
      }
      .jugando__info {
        order: 3;
        width: 90%;
        margin-bottom: 1rem;
      }
      .play-online {
        order: 4;
        align-self: flex-start;
        width: 90%;
        margin-bottom: 1rem;
      }
      .jugando__stores {
        justify-content: flex-start;
        order: 5;
        width: 60%;
        padding: 0;
        margin-bottom: 0;
      }
    }

    .wrapper2 {
      flex: 0.45;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  ///DESKTOP////////////////
  @media (min-width: 1366px) {
    padding: 2rem 8rem;
    align-items: center;

    .wrapper {
      flex: 0.5;

      h1 {
        font-size: 4rem;
        line-height: 4.2rem;
        max-width: 70%;
        margin-bottom: 1rem;
      }
      h2 {
        margin-bottom: 1rem;
      }
      .jugando__info {
        max-width: 75%;
      }
      .play-online {
        max-width: 75%;
      }
      .jugando__stores {
        width: 50%;
      }
    }
    .wrapper2 {
      flex: 0.5;

      img {
        width: auto;
        min-height: 65vh;
      }
    }
  }
}
