@use "../../sass/colors";

.a-mail {
  color: #4887DF;
  ::after {
    color: #4887DF;
  }
  ::before {
    color: #4887DF;
  }
}

.recursos-tablet {
  display: none;
}
.recursos-tablet-final {
  display: none;
}
.h1-recursos-desktop {
  display: none;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recursos {
  margin: 0 auto;
  text-align: center;
  background: transparent;

  h1 {
    color: colors.$gris-medio;
    margin: 2rem;
  }

  p {
    margin: 2rem;
    text-align: justify;
  }

  img {
    width: 85%;
  }
  .p-chico {
    font-size: .9rem;
  }
  .p-grande {
    font-weight: 500;
    font-size: 1.1rem;
  }
}

.recursos-final {
  text-align: center;
  background: transparent;

  h1 {
    color: colors.$gris-medio;
    margin: 2rem;
  }

  p {
    margin: 2rem;
    text-align: justify;
  }

  img {
    width: 85%;
  }
  .p-chico {
    font-size: .9rem;
  }
  .p-grande {
    font-weight: 500;
    font-size: 1.1rem;
  }
}


@media only screen and (min-width:768px) {
  body {
    margin: 0 auto;
  }

  .recursos {
    display: none;
  }

  .recursos-final {
    display: none;
  }

  .h1-recursos-desktop {
    display: none;
  }

  .recursos-tablet {
  margin-top: 3rem;
  text-align: center;
  background: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;

  h1 {
    color: colors.$gris-medio;
  }
  .h1-recursos-tablet {
    order: -1;
    align-self: center;
    color: colors.$gris-medio;
    margin-top: 2rem;
    margin-left: 370px;
  }
  p {
    order: 1;
    width: 40%;
    margin: 2rem;
    text-align: justify;
    padding-top: 25px;

  }
  .imagen-recursos-tablet {
    align-self: flex-start;
    width: 50%;
  }
  .p-chico2 {
    width: 40%;
    font-size: .9rem;
  }
  .p-grande {
    font-weight: 500;
    font-size: 1rem;
  }
  .img-texto {
    display: flex;
    margin-bottom: 2rem;
  }
  }

  .recursos-tablet-final {
    text-align: center;
    background: transparent;
    display: flex;
    margin: 3rem;
  
    h1 {
      color: colors.$gris-medio;
      margin: 2rem;
    }
  
    p {
      text-align: justify;
    }
  
    img {
      width: 50%;
    }
    .p-chico {
      font-size: .9rem;
    }
    .p-grande {
      padding: 1rem;
      font-weight: 500;
      font-size: 1.1rem;
    }
  }
  

  
}

@media only screen and (min-width:1366px) {

  .h1-recursos {
    display: none;
  }

  .h1-recursos-tablet {
    display: none;
  }

  .h1-recursos-desktop {
    display: block;
    font-size: 3.4rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: colors.$gris-medio;

  }

  .recursos {
    display: none;
  }

  .recursos-final {
    display: none;
  }

  .recursos-tablet {
    margin: 0 auto;
  text-align: center;
  background: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;

  h1 {
    color: colors.$gris-medio;
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  .h1-recursos-tablet {
    order: -1;
    align-self: flex-end;
    color: colors.$gris-medio;
    margin: 2rem;
  }
  p {
    order: 1;
    width: 40%;
    margin: 2rem;
    text-align: justify;
  }
  .imagen-recursos-tablet {
    max-width: 500px;
    align-self: flex-start;
    width: 50%;
  }
  .p-chico2 {
    width: 40%;
    font-size: .9rem;
  }
  .p-grande {
    font-weight: 500;
    font-size: 1rem;
  }
  .img-texto {
    display: flex;
    margin-top: 6rem;

  }
  }

  .recursos-tablet-final {
    text-align: center;
    background: transparent;
    display: flex;
    margin: 3rem;
  
    h1 {
      color: colors.$gris-medio;
      margin: 2rem;
    }
  
    p {
      text-align: justify;
    }
  
    img {
      width: 50%;
    }
    .p-chico {
      font-size: .9rem;
    }
    .p-grande {
      align-self: center;
      padding: 1rem;
      font-weight: 500;
      font-size: 1.1rem;
    }
  }
  

  
}

