@use "../../sass/colors";

.contact-form {
  height: 600px;
  padding: 2rem 0;
  box-shadow: 0 2px 5px 0px colors.$gris-medio;
  background-color: colors.$blanco;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 0.1s ease-in-out;

  @media (max-width: 768px) {
    width: 100%;
  }

  &:focus-within {
    box-shadow: 0 0 6px 2px colors.$gris-medio, 0 0 25px 10px colors.$gris;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    transition: 0.3s ease-in-out;
    width: 82%;
    position: relative;

    label {
      color: colors.$gris-oscuro;
      font-size: 15px;
      margin-bottom: 0.5rem;
    }
    input,
    textarea {
      height: 50px;
      border-radius: 10px;
      border: solid 1px colors.$gris-medio;
      outline: none;
      padding-left: 1rem;
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      color: colors.$gris-oscuro;
      transition: 0.2s ease-in-out;

      &:focus {
        border: solid 1px colors.$gris;
        box-shadow: 0 2px 6px 0px colors.$gris-oscuro;
      }
      &::-webkit-input-placeholder {
        font-weight: 300;
        color: colors.$gris-medio;
      }
      &::-moz-placeholder {
        font-weight: 300;
        color: colors.$gris-medio;
      }
      &:-ms-input-placeholder {
        font-weight: 300;
        color: colors.$gris-medio;
      }
      &::-ms-input-placeholder {
        font-weight: 300;
        color: colors.$gris-medio;
      }
      &::placeholder {
        font-weight: 300;
        color: colors.$gris-medio;
      }
    }
    textarea {
      height: 160px;
      resize: none;
      padding-top: 1rem;
      font-size: 1rem;

      &:focus {
        z-index: 5; //PROBAR CUANDO ESTE TERMINADO A VER COMO QUEDA AHI
      }
    }
  }
  .checkbox-group {
    width: 80%;
    display: flex;
    align-items: flex-start;

    label {
      line-height: 1.5;
      font-weight: 300;
      pointer-events: none;
    }
    input {
      margin-top: 5px;
      margin-right: 10px;
      transform: scale(1.5);
      cursor: pointer;
    }
  }
  .submit-btn {
    background-color: colors.$verde;
    color: colors.$blanco;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    height: 40px;
    width: 82%;
    opacity: 0;
    transform: translateY(-30px) scale(0);
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    -webkit-animation: 1s appearSubmit forwards;
    animation: 0.75s appearSubmit forwards;
    @-webkit-keyframes appearSubmit {
      to {
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    }
    @keyframes appearSubmit {
      to {
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    }

    &:hover {
      width: 85%;
    }
    &:active {
      width: 80%;
    }
  }
}
.email-send-container {
  height: 600px;
  padding: 5rem 0;
  box-shadow: 0 0 6px 2px colors.$gris-medio, 0 0 25px 10px colors.$gris;
  background-color: colors.$gris;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: colors.$gris-medio;
  transition: 0.2s ease-in-out;

  @media (max-width: 768px) {
    width: 100%;
  }

  h1 {
    width: 80%;
    text-align: center;
    font-weight: normal;
    margin-bottom: 1.5rem;
  }
  .mail-icon {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
  img {
    width: 20%;
    margin-bottom: 0.5rem;
  }
}
