@use "../../sass/colors";
*,
*::after,
*::before {
  box-sizing: border-box;
}
.footer {
  width: 100%;
  min-height: 40vh;
  background-color: colors.$gris;
  margin-top: auto; //Para que siempre el footer este debajo, aun si la pagina tiene poco contenido
  //box-sizing: border-box;
  .padre {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem;
    color: colors.$gris-oscuro;
    font-size: 0.9rem;
    .politicas-nosotros {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      .politicas {
        display: flex;
        justify-content: center;
        align-items: center;
        .logo img {
          width: 5.5rem;
          height: 6rem;
        }
        p {
          display: flex;
          align-items: center;
          width: 12rem;
          height: 2.5rem;
        }
      }
      .nosotros-links {
        display: flex;
        justify-content: center;
        width: 80%;
        padding: 0.5rem;
        margin-left: 0.7rem;
        //width: 100%;
        .nosotros {
          display: flex;
          justify-content: center;
          width: 60%;
          ul li {
            padding: 0.3rem 0.1rem;
            width: 120%;
            a {
              color: inherit;

              &:hover {
                font-weight: bold;
              }
            }
          }
        }
        .links {
          display: flex;
          justify-content: flex-start;
          margin-left: 2.2rem;
          width: 70%;
          ul li {
            padding: 0.3rem 0.1rem;
            width: 100%;
            a {
              color: inherit;

              &:hover {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .suscripcion-donacion {
      display: flex;
      flex-direction: column;
      padding: 0.2rem;
      width: 100%;
      .suscripcion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        h1 {
          display: flex;
          justify-content: center;
          padding-bottom: 1rem;
        }
        .divWrap {
          display: flex;
          justify-content: space-between;
          input {
            width: 85%;
            border-radius: 8px;
            border: 1px solid grey;
            outline: none;
            padding-left: 1.5rem;
          }
          .logoSend {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: colors.$rojo;
            color: white;
            border-radius: 20%;
            width: 2rem;
            height: 2rem;
          }
        }
      }
      .donacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        h1 {
          display: flex;
          justify-content: center;
          padding-bottom: 1rem;
        }
        .divWrapCafe {
          display: flex;
          justify-content: space-between;
          button {
            border: 0;
            padding-right: 8px;
            background-color: transparent;
            img {
              width: 2.5rem;
              height: 2.5rem;
            }
          }
          input {
            width: 85%;
            height: 2.5rem;
            border: 1px solid #8fa2cc;
            border-radius: 10px;
            padding-left: 0.8rem;
          }
          input::-webkit-input-placeholder {
            color: #8fa2cc;
          }
          input::-moz-placeholder {
            color: #8fa2cc;
          }
          input:-ms-input-placeholder {
            color: #8fa2cc;
          }
          input::-ms-input-placeholder {
            color: #8fa2cc;
          }
          input::placeholder {
            color: #8fa2cc;
          }
        }
      }
    }
    .redes-copy {
      width: 100%;
      .redes {
        padding: 0.5rem;
        width: 100%;
        ul {
          display: flex;
          justify-content: space-evenly;
          width: 100%;
          li a {
            color: colors.$gris-oscuro;
          }
        }
      }
      .copyright {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1rem;
        a {
          color: colors.$cafecito;
        }
      }
    }
    .linea {
      display: none;
      width: 0;
    }
    hr {
      height: 0;
      border: solid 0.5px colors.$gris-medio;
      width: 80%;
      margin: 0 auto;
    }
    h1 {
      color: colors.$rojo;
      font-size: 1rem;
    }
    .separador {
      display: none;
      width: 0;
    }
  }

  @media screen and (min-width: 768px) {
    .padre {
      .politicas-nosotros {
        display: flex;
        justify-content: space-evenly;
        margin-left: 3rem;
        width: 90%;
        height: 150%;
        .politicas {
          padding-left: 0;
          margin: 0;
          p {
            display: flex;
            justify-content: center;
          }
        }
        hr {
          display: none;
          height: 0;
        }
        .nosotros-links {
          display: flex;
          width: 55%;
          justify-content: space-evenly;
          .nosotros {
            display: flex;
            justify-content: center;
          }
          .links {
            display: flex;
            justify-content: center;
            margin: 0;
          }
        }
      }
      hr {
        width: 95%;
      }
      .suscripcion-donacion {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .suscripcion {
          display: flex;
          width: 60%;
          h1 {
            justify-content: left;
          }
        }
        .donacion {
          display: flex;
          width: 60%;
          h1 {
            justify-content: left;
          }
        }
      }
    }
    .redes-copy {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      width: 100%;
      hr {
        display: none;
        width: 0;
      }
      .separador {
        display: flex;
        align-items: center;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .padre {
      display: flex;
      .politicas-nosotros {
        display: flex;
        justify-content: space-evenly;
        width: 60%;
        margin-left: 75px;
        .politicas {
          display: flex;
        }
        .nosotros-links {
          display: flex;
          justify-content: right;
          width: 55%;
          .nosotros {
            ul li {
              padding: 0.5rem;
            }
          }
          .links {
            ul li {
              padding: 0.5rem;
            }
          }
        }
      }
      hr {
        display: none;
        width: 0;
      }
      .suscripcion-donacion {
        display: flex;
        flex-direction: column;
        width: 30%;
        padding-right: 80px;
        .suscripcion {
          width: 100%;
          h1 {
            justify-content: left;
          }
        }
        .donacion {
          width: 100%;
          h1 {
            justify-content: left;
          }
        }
      }
      .linea {
        display: flex;
        width: 95%;
      }
    }
  }
}
