/*  */
/* Normalizador del css del UserAgent de los navegadores  | RESET CSS  */
/*  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
*::after,
*::before {
  box-sizing: border-box;
}
//Evitar fondo celeste al tocar pantalla en android
button {
  -webkit-tap-highlight-color: transparent;
}
/*  */
/* Fin normalizador | RESET CSS  */
/*  */
@import "./sass/animations.scss";

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;

  /* Esta es la clase que se aplica a cada contenedor de cada pagina ( /pages )  */
  .page-wrapper {
    flex: 1 0 auto;
    background-color: #fff;
    -webkit-animation: appear 1s ease-in;
    animation: appear 1s ease-in;
    margin-top: 4.5rem;

    // Esta es simplemente una clase para los botones
    .green-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #2cbd9b;
      border: solid 1px #2cbd9b;
      height: 2rem;
      width: 100%;
      outline: none;
      border: 0;
      border-radius: 7px;
      margin-bottom: 2rem;
      cursor: pointer;
      transition: 0.1s ease-in-out all;

      &:hover {
        background-color: #fff;
        border: solid 1px #2cbd9b;
      }
      &:hover > a {
        color: #2cbd9b;
      }
      &:hover > p {
        color: #2cbd9b;
      }
      a,
      p {
        color: #fff;
        font-size: 16px;
        height: 100%;
        width: 100%;
        line-height: 2rem;
        text-align: center;
      }
    }

    @media (min-width: 768px) {
      margin-top: 7rem;
    }

    @-webkit-keyframes appear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes appear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}
